<!-- This script tag includes the jQuery library. -->
<!--<script src=”https://code.jquery.com/jquery-3.2.1.slim.min.js” ></script>-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->

<!--<script src=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js”></script>-->

<!-- This div is controlled by the "retrainRecipeController" controller and is shown only when "finishedLoading" is true. -->
<div ng-controller="retrainRecipeController" ng-show="finishedLoading">
    <link ng-href="{{ styleSheetUrl }}" rel="stylesheet" type="text/css">
    <form>
        <h2 class="settings-section-title">Model Name</h2>
        <div class="control-group">
            <label class="control-label">Final Model Name</label>
            <div class="controls">
                <input type="text" ng-model="config.model_name" />
                <span class="help-inline">Alphanumeric and underscores only. No spaces, special characters (, . / \ : ! @ # $ %, etc.)</span>
            </div>
        </div>
        <hr>
        <h2 class="settings-section-title">Target</h2>
        <div class="control-group">
            <label class="control-label">Target column</label>
            <div class="controls">
                <select dku-bs-select 
                        name="col_label" 
                        ng-model="config.col_label" 
                        ng-options="c for c in inputDatasetColNames"> 
                </select>
            </div>
        </div>        
        <div class="control-group">
            <label class="control-label">Prediction type</label>
            <div class="controls">
                <select dku-bs-select name="prediction_type" id="alpha" ng-model="config.prediction_type" ng-change="updateMetrics()">
                    <option value="two-class classification">Two-class classification</option>
                    <option value="regression">Regression</option>
                </select>
            </div>
        </div>   
        <div class="control-group" ng-show="config.prediction_type === 'two-class classification'">
            <label class="control-label">Disable Class Weights</label>
            <div class="controls">
                <input name="disable_class_weights" type="checkbox" ng-model="config.disable_class_weights"/>
                <span class="help-inline">Not Recommended. Class weights are row weights that are inversely proportional to the cardinality of its target class and help with class imbalance issues.</span>
            </div>
        </div>      
        <hr>
        <h2 class="settings-section-title">Train / Test Set</h2>
        <div class="control-group">
            <label class="control-label">Train ratio</label>
            <div class="controls">
                <input name="train_ratio" type="number" min="0" max="1" step="0.001" value=0.8 ng-model="config.train_ratio" required/>
                <span class="help-inline">Proportion of the sample that goes to the train set. The rest goes to the test set</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Random seed</label>
            <div class="controls">
                <input name="random_seed" type="number" min="0" step="1" value=42 ng-model="config.random_seed"/>
                <span class="help-inline">Using a fixed random seed allows for reproducible result</span>
            </div>
        </div>
            
        <div class="control-group">
            <label class="control-label">Enable time ordering</label>
            <div class="controls">
                <input name="enable_time_ordering" type="checkbox" ng-model="config.time_ordering"/>
            </div>
        </div>

        <div class="control-group" ng-show="config.time_ordering">
            <label class="control-label">Time ordering column</label>
            <div class="controls">
                <select dku-bs-select
                        name="time_ordering_variable"
                        ng-model="config.time_ordering_variable"
                        ng-options="t for t in inputDatasetColumns">
                </select>
            </div>
        </div> 
                
        <hr>
        <h2 class="settings-section-title">Metrics</h2>        
        <div class="control-group">
            <label class="control-label">Model Metric</label>
            <div class="controls">
                <select dku-bs-select name="model_metric" id="beta" ng-model="config.model_metric" ng-options="metric for metric in metrics"></select>
            </div>
        </div>
        <hr>
        <h2 class="settings-section-title">Features selection</h2>
        <div class="table-responsive" class="container-fluid">
            <table class="table table-striped">
              <thead>
                <tr class="text-center">
                  <th style="width: 20%;">Feature Name</th>
                  <th style="width: 10%;">Type</th>
                  <th style="width: 10%;">Include?</th>
                  <th style="width: 20%;">Encoding / Rescaling</th>
                  <th style="width: 20%;">Impute Missing Values With</th>
                  <th style="width: 20%;">Constant Value (Impute)</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="column in inputDatasetColumns" ng-class="{ 'dku-striped-row': $even}">                    
                  <td style="overflow-x: auto; width: 20%;">{{ column.name }}</td>
                  <td>{{ column.type }}</td>
                  <td>
                    <input type="checkbox"
                       ng-model="config.selectedInputColumns[column.name]"
                       ng-click="toggleFeatureSelection(column.name)"/>
                  </td>
                  <td>
                      <div class = cell-elements ng-if="(column.type.indexOf('int') === -1 && column.type.indexOf('float') === -1 && column.type.indexOf('double') === -1) && config.selectedInputColumns[column.name]">
                          <select class="form-control feature-select" ng-model="config.selectedOption1[column.name]" ng-options="cat_option_1 for cat_option_1 in categoricalOptions"></select>
                      </div>
                      <div class = cell-elements ng-if="(column.type.indexOf('int') !== -1 || column.type.indexOf('float') !== -1 || column.type.indexOf('double') !== -1) && config.selectedInputColumns[column.name]">
                          <select class="form-control feature-select" ng-model="config.selectedOption1[column.name]" ng-options="num_option_1 for num_option_1 in numericOptions"></select>
                          
                      </div>
                      <div class = cell-elements ng-if="!config.selectedInputColumns[column.name]">
                           
                      </div>
                  </td>
                  <td>
                      <div class = cell-elements ng-if="(column.type.indexOf('int') === -1 && column.type.indexOf('float') === -1 && column.type.indexOf('double') === -1) && config.selectedInputColumns[column.name]">
                          <select class="form-control feature-select" ng-model="config.selectedOption2[column.name]" ng-options="cat_option_2 for cat_option_2 in categoricalOptions2"></select>
                      </div>
                      <div class = cell-elements ng-if="(column.type.indexOf('int') !== -1 || column.type.indexOf('float') !== -1 || column.type.indexOf('double') !== -1) && config.selectedInputColumns[column.name]">
                          <select class="form-control feature-select" ng-model="config.selectedOption2[column.name]" ng-options="num_option_2 for num_option_2 in numericOptions2"></select>
                      </div>
                      <div class = cell-elements ng-if="!config.selectedInputColumns[column.name]">
                           
                      </div>
                  </td>                  
                  <td>
                      <div class = cell-elements ng-if="config.selectedOption2[column.name] === 'Constant' && config.selectedInputColumns[column.name] && (column.type.indexOf('int') !== -1 || column.type.indexOf('float') !== -1 || column.type.indexOf('double') !== -1)">
                          <input type="number" class="form-control feature-input" ng-model="config.selectedConstantImpute[column.name]" />
                      </div>
                      <div class = cell-elements ng-if="config.selectedOption2[column.name] === 'Constant' && config.selectedInputColumns[column.name] && (column.type.indexOf('int') === -1 && column.type.indexOf('float') === -1 && column.type.indexOf('double') === -1)">
                          <input type="text" class="form-control feature-input" ng-model="config.selectedConstantImpute[column.name]" />
                      </div>
                      <div class = cell-elements ng-if="!config.selectedInputColumns[column.name] || (config.selectedInputColumns[column.name] && config.selectedOption2[column.name] !== 'Constant')">
                           
                      </div>
                  </td>    
                </tr>
              </tbody>
            </table>           
        </div>  
        <hr>
        <div>
            <h2 class="settings-section-title" >Algorithms</h2>
            <span class="help-inline">Hover over algorithm or hyperparameter names for more info</span>
        </div>
        <div ng-show="config.prediction_type === 'two-class classification'">
          <div class="form-group">
            <div class="algo-group">
            <div class="control-group">
                <label class="control-label">Logistic Regression</label>
                <div class="controls">
                    <input name="logistic-regression" type="checkbox" ng-model="config.logistic_regression"/>
                </div>
            </div>
            </div>
            <div class="algo-details" ng-show="config.logistic_regression">
              <div class="algo-hparam-parent-first">
              <h5 title = "Penalty parameter C of the error term. A low value of C will generate a smoother decision boundary (higher bias) while a high value aims at correctly classifying all training examples, at the risk of overfitting (high variance). (C corresponds to the inverse of a regularization parameter)."> C </h5>
              <div class="algo-hparam">
              <label for="logistic-regression-c-min">(min)</label>
              <input class="hparam-input" type="number" step="0.001" id="logistic-regression-c-min" ng-model="config.logistic_regression_c_min"/>
              </div>
              <div class="algo-hparam">
              <label for="logistic-regression-c-max">(max)</label>
              <input class="hparam-input" type="number" step="0.001" id="logistic-regression-c-max" ng-model="config.logistic_regression_c_max"/>
              </div>
              </div>
            </div>
            <div style="clear:both;">&nbsp;</div>
          </div>
          
          <div class="form-group">
            <div class="algo-group" title="A Random Forest is made of many decision trees. Each tree in the forest predicts a record, and each tree 'votes' for the final answer of the forest.
The forest chooses the class having the most votes.

A decision tree is a simple algorithm which builds a decision tree. Each node of the decision tree includes a condition on one of the input features.

When 'growing' (ie, training) the forest:

    - for each tree, a random sample of the training set is used;
    - for each decision point in the tree, a random subset of the input features is considered.
                                           
Random Forests generally provide good results, at the expense of 'explainability' of the model.">
            <div class="control-group">
                <label class="control-label">Random Forest Classification</label>
                <div class="controls">
                    <input name="random-forest-classification" type="checkbox" ng-model="config.random_forest_classification"/>
                </div>
            </div>   
            </div>
            <div class="algo-details" ng-show="config.random_forest_classification">
              <div class="algo-hparam-parent-first">
              <h5 title="Number of trees in the forest." > Number of trees </h5>
              <div class="algo-hparam-first">
              <label for="random-forest-classification-n-estimators-min">(min)</label>
              <input class="hparam-input" type="number" id="random-forest-classification-n-estimators-min" ng-model="config.random_forest_classification_n_estimators_min"/>
              </div>
              <div class="algo-hparam">
              <label for="random-forest-classification-n-estimators-max">(max)</label>
              <input class="hparam-input" type="number" id="random-forest-classification-n-estimators-max" ng-model="config.random_forest_classification_n_estimators_max"/>
              </div>
              </div>
              
              <div class="algo-hparam-parent-second">
              <h5 title = "Maximum depth of each tree in the forest. Higher values generally increase the quality of the prediction, but can lead to overfitting. High values also increase the training and prediction time."> Max depth of tree </h5>
              <div class="algo-hparam">
              <label for="random-forest-classification-max-depth-min">(min)</label>
              <input class="hparam-input" type="number" id="random-forest-classification-max-depth-min" ng-model="config.random_forest_classification_max_depth_min"/>
              </div>
              <div class="algo-hparam">
              <label for="random-forest-classification-max-depth-max">(max)</label>
              <input class="hparam-input" type="number" id="random-forest-classification-max-depth-max" ng-model="config.random_forest_classification_max_depth_max"/>
              </div>
              </div>
              <div class="algo-hparam-parent-third">
              <h5 title = "Minimum number of samples required in a single tree node to split this node. Lower values increase the quality of the prediction (by splitting the tree node), but can lead to overfitting and increased training and prediction time."> Min samples per leaf </h5>
              <div class="algo-hparam">
              <label for="random-forest-classification-min-samples-leaf-min">(min)</label>
              <input class="hparam-input" type="number" id="random-forest-classification-min-samples-leaf-min" ng-model="config.random_forest_classification_min_samples_leaf_min"/>
              </div>
              <div class="algo-hparam">
              <label for="random-forest-classification-min-samples-leaf-max">(max)</label>
              <input class="hparam-input" type="number" id="random-forest-classification-min-samples-leaf-max" ng-model="config.random_forest_classification_min_samples_leaf_max"/>
              </div>
              </div>
            </div>
            <div style="clear:both;">&nbsp;</div>
          </div>
          
          <div class="form-group">
            <div class="algo-group">
            <div class="control-group">
                <label class="control-label">XGBoost Classification</label>
                <div class="controls">
                    <input name="xgb-classification" type="checkbox" ng-model="config.xgb_classification"/>
                </div>
            </div>    
            </div>
            <div class="algo-details" ng-show="config.xgb_classification">
              <div class="algo-hparam-parent-first">
              <h5 title = "Number of gradient boosted trees. Equivalent to number of boosting rounds."> Number of trees </h5>
              <div class="algo-hparam">
              <label for="xgb-classification-n-estimators-min">(min)</label>
              <input class="hparam-input" type="number" id="xgb-classification-n-estimators-min" ng-model="config.xgb_classification_n_estimators_min"/>
              </div>
              <div class="algo-hparam">
              <label for="xgb-classification-n-estimators-max">(max)</label>
              <input class="hparam-input" type="number" id="xgb-classification-n-estimators-max" ng-model="config.xgb_classification_n_estimators_max"/>
              </div>
              
              </div>
              <div class="algo-hparam-parent-second">
              <h5 title = "Maximum depth of each tree in the forest. Higher values generally increase the quality of the prediction, but can lead to overfitting. High values also increase the training and prediction time."> Max depth of tree </h5>
              <div class="algo-hparam">
              <label for="xgb-classification-max-depth-min">(min)</label>
              <input class="hparam-input" type="number" id="xgb-classification-max-depth-min" ng-model="config.xgb_classification_max_depth_min"/>
              </div>
              <div class="algo-hparam">
              <label for="xgb-classification-max-depth-max">(max)</label>
              <input class="hparam-input" type="number" id="xgb-classification-max-depth-max" ng-model="config.xgb_classification_max_depth_max"/>
              </div>
              </div>
              <div class="algo-hparam-parent-third">
              <h5 title = "Minimum sum of weights (hessian) in a node. High values can prevent overfitting by learning highly specific cases. Smaller values allow leaf nodes to match a small set of rows, which can be relevant for highly imbalanced sets."> Min child weight </h5>
              <div class="algo-hparam">
              <label for="xgb-classification-min-child-weight-min">(min)</label>
              <input class="hparam-input" type="number" step="0.001" id="xgb-classification-min-child-weight-min" ng-model="config.xgb_classification_min_child_weight_min"/>
              </div>
              <div class="algo-hparam">
              <label for="xgb-classification-min-child-weight-max">(max)</label>
              <input class="hparam-input" type="number" step="0.001" id="xgb-classification-min-child-weight-max" ng-model="config.xgb_classification_min_child_weight_max"/>
              </div>
              </div>
              <div class="algo-hparam-parent-fourth">
              <h5 title = "Lower values slow down convergence and can make the model more robust. Typical values: 0.001 - 0.3"> Learning rate </h5>
              <div class="algo-hparam">
              <label for="xgb-classification-learning-rate-min">(min)</label>
              <input class="hparam-input" type="number" step="0.001" id="xgb-classification-learning-rate-min" ng-model="config.xgb_classification_learning_rate_min"/>
              </div>
              <div class="algo-hparam">
              <label for="xgb-classification-learning-rate-max">(max)</label>
              <input class="hparam-input" type="number" step="0.001" id="xgb-classification-learning-rate-max" ng-model="config.xgb_classification_learning_rate_max"/>
              </div>
              </div>
            </div>  
            <div style="clear:both;">&nbsp;</div>
          </div>
          <div class="form-group">
            <div class="algo-group">
            <div class="control-group">
                <label class="control-label">LightGBM Classification</label>
                <div class="controls">
                    <input name="lgbm-classification" type="checkbox" ng-model="config.lgbm_classification"/>
                </div>
            </div>
            </div>
            <div class="algo-details" ng-show="config.lgbm_classification">
              <div class="algo-hparam-parent-first">
              <h5 title = "Number of gradient boosted trees. Equivalent to number of boosting rounds."> Number of trees </h5>
              <div class="algo-hparam">
              <label for="lgbm-classification-n-estimators-min">(min)</label>
              <input class="hparam-input" type="number" id="lgbm-classification-n-estimators-min" ng-model="config.lgbm_classification_n_estimators_min"/>
              </div>
              <div class="algo-hparam">
              <label for="lgbm-classification-n-estimators-max">(max)</label>
              <input class="hparam-input" type="number" id="lgbm-classification-n-estimators-max" ng-model="config.lgbm_classification_n_estimators_max"/>
              </div>
              
              </div>
              <div class="algo-hparam-parent-second">
              <h5 title = "Maximum depth of each tree in the forest. Higher values generally increase the quality of the prediction, but can lead to overfitting. High values also increase the training and prediction time."> Max depth of tree </h5>
              <div class="algo-hparam">
              <label for="lgbm-classification-max-depth-min">(min)</label>
              <input class="hparam-input" type="number" id="lgbm-classification-max-depth-min" ng-model="config.lgbm_classification_max_depth_min"/>
              </div>
              <div class="algo-hparam">
              <label for="lgbm-classification-max-depth-max">(max)</label>
              <input class="hparam-input" type="number" id="lgbm-classification-max-depth-max" ng-model="config.lgbm_classification_max_depth_max"/>
              </div>
              </div>
              <div class="algo-hparam-parent-third">
              <h5 title = "Minimum sum of weights (hessian) in a node. High values can prevent overfitting by learning highly specific cases. Smaller values allow leaf nodes to match a small set of rows, which can be relevant for highly imbalanced sets."> Min child weight </h5>
              <div class="algo-hparam">
              <label for="lgbm-classification-min-child-weight-min">(min)</label>
              <input class="hparam-input" type="number" step="0.001" id="lgbm-classification-min-child-weight-min" ng-model="config.lgbm_classification_min_child_weight_min"/>
              </div>
              <div class="algo-hparam">
              <label for="lgbm-classification-min-child-weight-max">(max)</label>
              <input class="hparam-input" type="number" step="0.001" id="lgbm-classification-min-child-weight-max" ng-model="config.lgbm_classification_min_child_weight_max"/>
              </div>
              </div>
              <div class="algo-hparam-parent-fourth">
              <h5 title = "Lower values slow down convergence and can make the model more robust. Typical values: 0.001 - 0.3"> Learning rate </h5>
              <div class="algo-hparam">
              <label for="lgbm-classification-learning-rate-min">(min)</label>
              <input class="hparam-input" type="number" step="0.001" id="lgbm-classification-learning-rate-min" ng-model="config.lgbm_classification_learning_rate_min"/>
              </div>
              <div class="algo-hparam">
              <label for="lgbm-classification-learning-rate-max">(max)</label>
              <input class="hparam-input" type="number" step="0.001" id="lgbm-classification-learning-rate-max" ng-model="config.lgbm_classification_learning_rate_max"/>
              </div>
              </div>
            </div>  
            <div style="clear:both;">&nbsp;</div>
          </div>
          <div class="form-group">
            <div class="algo-group" title="Gradient boosting is a technique which produces a prediction model in the form of an ensemble of 'weak' prediction models (small decision trees).

The concept is to train a set of decision trees (weak learners) to create a final strong learner. This is an iterative method. After each tree is trained, the data is reweighted: samples that were misclassified gain weight while the correctly classified ones lose weight. 

This allows future weak learners to focus on the 'difficult' examples that the previous weak learners missed.
Due to the iterative nature of boosting, it is not very parallelizable and is less scalable than other algorithms.">
            <div class="control-group">
                <label class="control-label">Gradient Tree Boosting Classification</label>
                <div class="controls">
                    <input name="gb-classification" type="checkbox" ng-model="config.gb_classification"/>
                </div>
            </div>
            </div>
            <div class="algo-details" ng-show="config.gb_classification">
              <div class="algo-hparam-parent-first">
              <h5 title = "Number of gradient boosted trees. Equivalent to number of boosting rounds."> Number of trees </h5>
              <div class="algo-hparam-first">
              <label for="gb-classification-n-estimators-min">(min)</label>
              <input class="hparam-input" type="number" id="gb-classification-n-estimators-min" ng-model="config.gb_classification_n_estimators_min"/>
              </div>
              <div class="algo-hparam">
              <label for="gb-classification-n-estimators-max">(max)</label>
              <input class="hparam-input" type="number" id="gb-classification-n-estimators-max" ng-model="config.gb_classification_n_estimators_max"/>
              </div>
              </div>
              
              <div class="algo-hparam-parent-second">
              <h5 title = "Maximum depth of each tree in the forest. Higher values generally increase the quality of the prediction, but can lead to overfitting. High values also increase the training and prediction time."> Max depth of tree </h5>
              <div class="algo-hparam">
              <label for="gb-classification-max-depth-min">(min)</label>
              <input class="hparam-input" type="number" id="gb-classification-max-depth-min" ng-model="config.gb_classification_max_depth_min"/>
              </div>
              <div class="algo-hparam">
              <label for="gb-classification-max-depth-max">(max)</label>
              <input class="hparam-input" type="number" id="gb-classification-max-depth-max" ng-model="config.gb_classification_max_depth_max"/>
              </div>
              </div>
              <div class="algo-hparam-parent-third">
              <h5 title = "Minimum number of samples required in a single tree node to split this node. Lower values increase the quality of the prediction (by splitting the tree node), but can lead to overfitting and increased training and prediction time."> Min samples per leaf </h5>
              <div class="algo-hparam">
              <label for="gb-classification-min-samples-leaf-min">(min)</label>
              <input class="hparam-input" type="number" id="gb-classification-min-samples-leaf-min" ng-model="config.gb_classification_min_samples_leaf_min"/>
              </div>
              <div class="algo-hparam">
              <label for="gb-classification-min-samples-leaf-max">(max)</label>
              <input class="hparam-input" type="number" id="gb-classification-min-samples-leaf-max" ng-model="config.gb_classification_min_samples_leaf_max"/>
              </div>
              </div>
              <div class="algo-hparam-parent-fourth">
              <h5 title = "Lower values slow down convergence and can make the model more robust. Typical values: 0.001 - 0.3"> Learning rate </h5>
              <div class="algo-hparam">
              <label for="gb-classification-learning-rate-min">(min)</label>
              <input class="hparam-input" type="number" step="0.001" id="gb-classification-learning-rate-min" ng-model="config.gb_classification_learning_rate_min"/>
              </div>
              <div class="algo-hparam">
              <label for="gb-classification-learning-rate-max">(max)</label>
              <input class="hparam-input" type="number" step="0.001" id="gb-classification-learning-rate-max" ng-model="config.gb_classification_learning_rate_max"/>
              </div>
              </div>
            </div>
            <div style="clear:both;">&nbsp;</div>
          </div>
          <div class="form-group">
            <div class="algo-group" title="Decision Tree is a simple non-parametric algorithm. It creates a model that predicts the value of the target by learning simple decision rules inferred from the data features.

These rules form a tree, with the leaves of the tree carrying the predicted class. Evaluation simply goes down the tree and evaluates the rule at each split.">
            <div class="control-group">
                <label class="control-label">Decision Tree Classification</label>
                <div class="controls">
                    <input name="decision-tree-classification" type="checkbox" ng-model="config.decision_tree_classification"/>
                </div>
            </div>   
            </div>
            <div class="algo-details" ng-show="config.decision_tree_classification">              
              <div class="algo-hparam-parent-first">
              <h5 title = "Maximum depth of the tree. Higher values generally increase the quality of the prediction, but can lead to overfitting. High values also increase the training and prediction time."> Max depth of tree </h5>
              <div class="algo-hparam">
              <label for="decision-tree-classification-max-depth-min">(min)</label>
              <input class="hparam-input" type="number" id="decision-tree-classification-max-depth-min" ng-model="config.decision_tree_classification_max_depth_min"/>
              </div>
              <div class="algo-hparam">
              <label for="decision-tree-classification-max-depth-max">(max)</label>
              <input class="hparam-input" type="number" id="decision-tree-classification-max-depth-max" ng-model="config.decision_tree_classification_max_depth_max"/>
              </div>
              </div>
              <div class="algo-hparam-parent-second">
              <h5 title = "Minimum number of samples required in a single tree node to split this node. Lower values increase the quality of the prediction (by splitting the tree node), but can lead to overfitting and increased training and prediction time."> Min samples per leaf </h5>
              <div class="algo-hparam">
              <label for="decision-tree-classification-min-samples-leaf-min">(min)</label>
              <input class="hparam-input" type="number" id="decision-tree-classification-min-samples-leaf-min" ng-model="config.decision_tree_classification_min_samples_leaf_min"/>
              </div>
              <div class="algo-hparam">
              <label for="decision-tree-classification-min-samples-leaf-max">(max)</label>
              <input class="hparam-input" type="number" id="decision-tree-classification-min-samples-leaf-max" ng-model="config.decision_tree_classification_min_samples_leaf_max"/>
              </div>
              </div>
            </div>
            <div style="clear:both;">&nbsp;</div>
          </div>
        </div>
        <div ng-show="config.prediction_type === 'regression'">
          <div class="form-group">
            <div class="algo-group">
            <div class="control-group">
                <label class="control-label">Lasso Regression</label>
                <div class="controls">
                    <input name="lasso-regression" type="checkbox" ng-model="config.lasso_regression"/>
                </div>
            </div>
            </div>
            <div class="algo-details" ng-show="config.lasso_regression">
              <div class="algo-hparam-parent-first">
              <h5 title = "Regularization parameter alpha. A high value of alpha will shrink coefficients in order to prevent overfitting. A low value of alpha will lead to a better model on the train set, at the risk of overfitting (high variance)."> Alpha </h5>
              <div class="algo-hparam">
              <label class="hparam-input" for="lasso-regression-alpha-min">(min)</label>
              <input type="number" step="0.001" id="lasso-regression-alpha-min" ng-model="config.lasso_regression_alpha_min"/>
              </div>
              <div class="algo-hparam">
              <label for="lasso-regression-alpha-max">(max)</label>
              <input class="hparam-input" type="number" step="0.001" id="lasso-regression-alpha-max" ng-model="config.lasso_regression_alpha_max"/>
              </div>
              
              </div>
            </div> 
            <div style="clear:both;">&nbsp;</div>
          </div>
          <div class="form-group">
            <div class="algo-group">
            <div class="control-group">
                <label class="control-label">Random Forest Regression</label>
                <div class="controls">
                    <input name="random-forest-regression" type="checkbox" ng-model="config.random_forest_regression"/>
                </div>
            </div>
            </div>
            <div class="algo-details" ng-show="config.random_forest_regression">
              <div class="algo-hparam-parent-first">
              <h5 title="Number of trees in the forest."> Number of trees </h5>
              <div class="algo-hparam">
              <label for="random-forest-regression-n-estimators-min">(min)</label>
              <input class="hparam-input" type="number" id="random-forest-regression-n-estimators-min" ng-model="config.random_forest_regression_n_estimators_min"/>
              </div>
              <div class="algo-hparam">
              <label for="random-forest-regression-n-estimators-max">(max)</label>
              <input class="hparam-input" type="number" id="random-forest-regression-n-estimators-max" ng-model="config.random_forest_regression_n_estimators_max"/>
              </div>
              
              </div>
              <div class="algo-hparam-parent-second">
              <h5 title = "Maximum depth of each tree in the forest. Higher values generally increase the quality of the prediction, but can lead to overfitting. High values also increase the training and prediction time."> Max depth of tree </h5>
              <div class="algo-hparam">
              <label for="random-forest-regression-max-depth-min">(min)</label>
              <input class="hparam-input" type="number" id="random-forest-regression-max-depth-min" ng-model="config.random_forest_regression_max_depth_min"/>
              </div>
              <div class="algo-hparam">
              <label for="random-forest-regression-max-depth-max">(max)</label>
              <input class="hparam-input" type="number" id="random-forest-regression-max-depth-max" ng-model="config.random_forest_regression_max_depth_max"/>
              </div>
              </div>
              <div class="algo-hparam-parent-third">
              <h5 title = "Minimum number of samples required in a single tree node to split this node. Lower values increase the quality of the prediction (by splitting the tree node), but can lead to overfitting and increased training and prediction time."> Min samples per leaf </h5>
              <div class="algo-hparam">
              <label for="random-forest-regression-min-samples-leaf-min">(min)</label>
              <input class="hparam-input" type="number" id="random-forest-regression-min-samples-leaf-min" ng-model="config.random_forest_regression_min_samples_leaf_min"/>
              </div>
              <div class="algo-hparam">
              <label for="random-forest-regression-min-samples-leaf-max">(max)</label>
              <input class="hparam-input" type="number" id="random-forest-regression-min-samples-leaf-max" ng-model="config.random_forest_regression_min_samples_leaf_max"/>
              </div>
              </div>
            </div>  
            <div style="clear:both;">&nbsp;</div>
          </div>
          <div class="form-group">
            <div class="algo-group">
            <div class="control-group">
                <label class="control-label">XGBoost Regression</label>
                <div class="controls">
                    <input name="xgb-regression" type="checkbox" ng-model="config.xgb_regression"/>
                </div>
            </div>
            </div>
            <div class="algo-details" ng-show="config.xgb_regression">
              <div class="algo-hparam-parent-first">
              <h5 title = "Number of gradient boosted trees. Equivalent to number of boosting rounds."> Number of trees </h5>
              <div class="algo-hparam">
              <label for="xgb-regression-n-estimators-min">(min)</label>
              <input class="hparam-input" type="number" id="xgb-regression-n-estimators-min" ng-model="config.xgb_regression_n_estimators_min"/>
              </div>
              <div class="algo-hparam">
              <label for="xgb-regression-n-estimators-max">(max)</label>
              <input class="hparam-input" type="number" id="xgb-regression-n-estimators-max" ng-model="config.xgb_regression_n_estimators_max"/>
              </div>
              
              </div>
              <div class="algo-hparam-parent-second">
              <h5 title = "Maximum depth of each tree in the forest. Higher values generally increase the quality of the prediction, but can lead to overfitting. High values also increase the training and prediction time."> Max depth of tree </h5>
              <div class="algo-hparam">
              <label for="xgb-regression-max-depth-min">(min)</label>
              <input class="hparam-input" type="number" id="xgb-regression-max-depth-min" ng-model="config.xgb_regression_max_depth_min"/>
              </div>
              <div class="algo-hparam">
              <label for="xgb-regression-max-depth-max">(max)</label>
              <input class="hparam-input" type="number" id="xgb-regression-max-depth-max" ng-model="config.xgb_regression_max_depth_max"/>
              </div>
              </div>
              <div class="algo-hparam-parent-third">
              <h5 title = "Minimum sum of weights (hessian) in a node. High values can prevent overfitting by learning highly specific cases. Smaller values allow leaf nodes to match a small set of rows, which can be relevant for highly imbalanced sets."> Min child weight </h5>
              <div class="algo-hparam">
              <label for="xgb-regression-min-child-weight-min">(min)</label>
              <input class="hparam-input" type="number" step="0.001" id="xgb-regression-min-child-weight-min" ng-model="config.xgb_regression_min_child_weight_min"/>
              </div>
              <div class="algo-hparam">
              <label for="xgb-regression-min-child-weight-max">(max)</label>
              <input class="hparam-input" type="number" step="0.001" id="xgb-regression-min-child-weight-max" ng-model="config.xgb_regression_min_child_weight_max"/>
              </div>
              </div>
              <div class="algo-hparam-parent-fourth">
              <h5 title = "Lower values slow down convergence and can make the model more robust. Typical values: 0.001 - 0.3"> Learning rate </h5>
              <div class="algo-hparam">
              <label for="xgb-regression-learning-rate-min">(min)</label>
              <input class="hparam-input" type="number" step="0.001" id="xgb-regression-learning-rate-min" ng-model="config.xgb_regression_learning_rate_min"/>
              </div>
              <div class="algo-hparam">
              <label for="xgb-regression-learning-rate-max">(max)</label>
              <input class="hparam-input" type="number" step="0.001" id="xgb-regression-learning-rate-max" ng-model="config.xgb_regression_learning_rate_max"/>
              </div>
              </div>
            </div>  
            <div style="clear:both;">&nbsp;</div>
          </div>
          <div class="form-group">
            <div class="algo-group">
            <div class="control-group">
                <label class="control-label">LightGBM Regression</label>
                <div class="controls">
                    <input name="lgbm-regression" type="checkbox" ng-model="config.lgbm_regression"/>
                </div>
            </div>
            </div>
            <div class="algo-details" ng-show="config.lgbm_regression">
              <div class="algo-hparam-parent-first">
              <h5 title = "Number of gradient boosted trees. Equivalent to number of boosting rounds."> Number of trees </h5>
              <div class="algo-hparam">
              <label for="lgbm-regression-n-estimators-min">(min)</label>
              <input class="hparam-input" type="number" id="lgbm-regression-n-estimators-min" ng-model="config.lgbm_regression_n_estimators_min"/>
              </div>
              <div class="algo-hparam">
              <label for="lgbm-regression-n-estimators-max">(max)</label>
              <input class="hparam-input" type="number" id="lgbm-regression-n-estimators-max" ng-model="config.lgbm_regression_n_estimators_max"/>
              </div>
              
              </div>
              <div class="algo-hparam-parent-second">
              <h5 title = "Maximum depth of each tree in the forest. Higher values generally increase the quality of the prediction, but can lead to overfitting. High values also increase the training and prediction time."> Max depth of tree </h5>
              <div class="algo-hparam">
              <label for="lgbm-regression-max-depth-min">(min)</label>
              <input class="hparam-input" type="number" id="lgbm-regression-max-depth-min" ng-model="config.lgbm_regression_max_depth_min"/>
              </div>
              <div class="algo-hparam">
              <label for="lgbm-regression-max-depth-max">(max)</label>
              <input class="hparam-input" type="number" id="lgbm-regression-max-depth-max" ng-model="config.lgbm_regression_max_depth_max"/>
              </div>
              </div>
              <div class="algo-hparam-parent-third">
              <h5 title = "Minimum sum of weights (hessian) in a node. High values can prevent overfitting by learning highly specific cases. Smaller values allow leaf nodes to match a small set of rows, which can be relevant for highly imbalanced sets."> Min child weight </h5>
              <div class="algo-hparam">
              <label for="lgbm-regression-min-child-weight-min">(min)</label>
              <input class="hparam-input" type="number" step="0.001" id="lgbm-regression-min-child-weight-min" ng-model="config.lgbm_regression_min_child_weight_min"/>
              </div>
              <div class="algo-hparam">
              <label for="lgbm-regression-min-child-weight-max">(max)</label>
              <input class="hparam-input" type="number" step="0.001" id="lgbm-regression-min-child-weight-max" ng-model="config.lgbm_regression_min_child_weight_max"/>
              </div>
              </div>
              <div class="algo-hparam-parent-fourth">
              <h5 title = "Lower values slow down convergence and can make the model more robust. Typical values: 0.001 - 0.3"> Learning rate </h5>
              <div class="algo-hparam">
              <label for="lgbm-regression-learning-rate-min">(min)</label>
              <input class="hparam-input" type="number" step="0.001" id="lgbm-regression-learning-rate-min" ng-model="config.lgbm_regression_learning_rate_min"/>
              </div>
              <div class="algo-hparam">
              <label for="lgbm-regression-learning-rate-max">(max)</label>
              <input class="hparam-input" type="number" step="0.001" id="lgbm-regression-learning-rate-max" ng-model="config.lgbm_regression_learning_rate_max"/>
              </div>
              </div>
            </div>  
            <div style="clear:both;">&nbsp;</div>
          </div>
          <div class="form-group">
            <div class="algo-group" title="Gradient boosting is a technique which produces a prediction model in the form of an ensemble of 'weak' prediction models (small decision trees).

The concept is to train a set of decision trees (weak learners) to create a final strong learner. This is an iterative method. After each tree is trained, the data is reweighted: samples that were misclassified gain weight while the correctly classified ones lose weight. 

This allows future weak learners to focus on the 'difficult' examples that the previous weak learners missed.
Due to the iterative nature of boosting, it is not very parallelizable and is less scalable than other algorithms.">
            <div class="control-group">
                <label class="control-label">Gradient Tree Boosting Regression</label>
                <div class="controls">
                    <input name="gb-regression" type="checkbox" ng-model="config.gb_regression"/>
                </div>
            </div>
            </div>
            <div class="algo-details" ng-show="config.gb_regression">
              <div class="algo-hparam-parent-first">
              <h5 title = "Number of gradient boosted trees. Equivalent to number of boosting rounds."> Number of trees </h5>
              <div class="algo-hparam-first">
              <label for="gb-regression-n-estimators-min">(min)</label>
              <input class="hparam-input" type="number" id="gb-regression-n-estimators-min" ng-model="config.gb_regression_n_estimators_min"/>
              </div>
              <div class="algo-hparam">
              <label for="gb-regression-n-estimators-max">(max)</label>
              <input class="hparam-input" type="number" id="gb-regression-n-estimators-max" ng-model="config.gb_regression_n_estimators_max"/>
              </div>
              </div>
              
              <div class="algo-hparam-parent-second">
              <h5 title = "Maximum depth of each tree in the forest. Higher values generally increase the quality of the prediction, but can lead to overfitting. High values also increase the training and prediction time."> Max depth of tree </h5>
              <div class="algo-hparam">
              <label for="gb-regression-max-depth-min">(min)</label>
              <input class="hparam-input" type="number" id="gb-regression-max-depth-min" ng-model="config.gb_regression_max_depth_min"/>
              </div>
              <div class="algo-hparam">
              <label for="gb-regression-max-depth-max">(max)</label>
              <input class="hparam-input" type="number" id="gb-regression-max-depth-max" ng-model="config.gb_regression_max_depth_max"/>
              </div>
              </div>
              <div class="algo-hparam-parent-third">
              <h5 title = "Minimum number of samples required in a single tree node to split this node. Lower values increase the quality of the prediction (by splitting the tree node), but can lead to overfitting and increased training and prediction time."> Min samples per leaf </h5>
              <div class="algo-hparam">
              <label for="gb-regression-min-samples-leaf-min">(min)</label>
              <input class="hparam-input" type="number" id="gb-regression-min-samples-leaf-min" ng-model="config.gb_regression_min_samples_leaf_min"/>
              </div>
              <div class="algo-hparam">
              <label for="gb-regression-min-samples-leaf-max">(max)</label>
              <input class="hparam-input" type="number" id="gb-regression-min-samples-leaf-max" ng-model="config.gb_regression_min_samples_leaf_max"/>
              </div>
              </div>
              <div class="algo-hparam-parent-fourth">
              <h5 title = "Lower values slow down convergence and can make the model more robust. Typical values: 0.001 - 0.3"> Learning rate </h5>
              <div class="algo-hparam">
              <label for="gb-regression-learning-rate-min">(min)</label>
              <input class="hparam-input" type="number" step="0.001" id="gb-regression-learning-rate-min" ng-model="config.gb_regression_learning_rate_min"/>
              </div>
              <div class="algo-hparam">
              <label for="gb-regression-learning-rate-max">(max)</label>
              <input class="hparam-input" type="number" step="0.001" id="gb-regression-learning-rate-max" ng-model="config.gb_regression_learning_rate_max"/>
              </div>
              </div>
            </div>
            <div style="clear:both;">&nbsp;</div>
          </div>
          <div class="form-group">
            <div class="algo-group" title="Decision Tree is a simple non-parametric algorithm. It creates a model that predicts the value of the target by learning simple decision rules inferred from the data features.

These rules form a tree, with the leaves of the tree carrying the predicted value. Evaluation simply goes down the tree and evaluates the rule at each split.">
            <div class="control-group">
                <label class="control-label">Decision Tree Regression</label>
                <div class="controls">
                    <input name="decision-tree-regression" type="checkbox" ng-model="config.decision_tree_regression"/>
                </div>
            </div>   
            </div>
            <div class="algo-details" ng-show="config.decision_tree_regression">              
              <div class="algo-hparam-parent-first">
              <h5 title = "Maximum depth of the tree. Higher values generally increase the quality of the prediction, but can lead to overfitting. High values also increase the training and prediction time."> Max depth of tree </h5>
              <div class="algo-hparam">
              <label for="decision-tree-regression-max-depth-min">(min)</label>
              <input class="hparam-input" type="number" id="decision-tree-regression-max-depth-min" ng-model="config.decision_tree_regression_max_depth_min"/>
              </div>
              <div class="algo-hparam">
              <label for="decision-tree-regression-max-depth-max">(max)</label>
              <input class="hparam-input" type="number" id="decision-tree-regression-max-depth-max" ng-model="config.decision_tree_regression_max_depth_max"/>
              </div>
              </div>
              <div class="algo-hparam-parent-second">
              <h5 title = "Minimum number of samples required in a single tree node to split this node. Lower values increase the quality of the prediction (by splitting the tree node), but can lead to overfitting and increased training and prediction time."> Min samples per leaf </h5>
              <div class="algo-hparam">
              <label for="decision-tree-regression-min-samples-leaf-min">(min)</label>
              <input class="hparam-input" type="number" id="decision-tree-regression-min-samples-leaf-min" ng-model="config.decision_tree_regression_min_samples_leaf_min"/>
              </div>
              <div class="algo-hparam">
              <label for="decision-tree-regression-min-samples-leaf-max">(max)</label>
              <input class="hparam-input" type="number" id="decision-tree-regression-min-samples-leaf-max" ng-model="config.decision_tree_regression_min_samples_leaf_max"/>
              </div>
              </div>
            </div>
            <div style="clear:both;">&nbsp;</div>
          </div>
        </div>
        <hr>
        <div class="control-group">
            <label class="control-label">Search space limit</label>
            <div class="controls">
                <input type="number" min="1" step="1" value="8" ng-model="config.n_iter"/>
                <span class="help-inline">Maximum number of hyperparameter combinations to explore.</span>
            </div>
        </div>
        <hr>
        <div class="control-group">
            <label class="control-label">Snowflake Warehouse</label>
            <div class="controls">
                <input type="text" ng-model="config.warehouse" />
                <span class="help-inline">If empty, use Snowflake connection default warehouse</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Deploy to Snowflake ML Model Registry</label>
            <div class="controls">
                <input name="deploy_to_snowflake_model_registry" type="checkbox" ng-model="config.deploy_to_snowflake_model_registry" />
                <span class="help-inline">Deploys model to MODEL_REGISTRY database. See Snowflake privilege requirements here: https://docs.snowflake.com/LIMITEDACCESS/snowflake-ml-model-registry</span>
            </div>
        </div>
    </form>
</div>