scikit-learn==1.2.1
mlflow==2.5.0
mlflow[extras]
statsmodels==0.12.2
protobuf==3.16.0
xgboost==1.7.3
lightgbm==3.3.5
matplotlib
scipy
snowflake-snowpark-python
snowflake-snowpark-python[pandas]
snowflake-connector-python[pandas]
numpy==1.23.5
MarkupSafe<2.1.0
cloudpickle
flask>=1.0,<1.1
itsdangerous<2.1.0
Jinja2>=2.11,<2.12
snowflake-ml-python==1.0.9
urllib3